.contact_form{
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 5px;

}
.form_button{
   padding: 8px 12px;
  font-size: 14px;
  background-color: #eee;
  border: 1px solid #888;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  align-self: center;
}
.form_button:hover{
  background-color: #ddd;
  border-color: #777;
}